<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216330642609-2364nmi370krm446rg23e8ms2j0u9qgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216330642609-2364nmi370krm446rg23e8ms2j0u9qgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBVi5NzYXvZzi2xtuA3SS-Hjb3_YHcLWpE</string>
	<key>GCM_SENDER_ID</key>
	<string>216330642609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitlednew</string>
	<key>PROJECT_ID</key>
	<string>testingapp-c8cac</string>
	<key>STORAGE_BUCKET</key>
	<string>testingapp-c8cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216330642609:ios:36fb945c594796cf152e90</string>
</dict>
</plist>